{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>ClearViolation</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    {% tailwind_css %}
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}">
</head>

<body class="bg-gray-100 font-serif leading-normal tracking-normal">
    <!-- Navbar -->
    <nav class="bg-[#eee] py-4 text-white top-0 w-full z-10">
        <div class="container mx-auto flex justify-between items-center">
            <!-- Logo or App Name -->
            <div>
                <span class="text-xl font-semibold font-Inter tracking-wider text-black"><a href="/streetvigil">ClearViolation</a></span>
            </div>
        
            {% if user.is_authenticated %}
                <div class="text-lg font-medium text-black font-Inter tracking-wider pl-20 gap-5  justify-center items-center hidden md:flex">
                    <div><a href="{% url 'index' %}">Dashboard</a></div>
                    <div><a href="{% url 'store' %}">Rewards</a></div>
                    <div><a href="{% url 'capture' %}">Capture</a></div>
                </div>
            {% else %}
                <div class="text-lg font-medium text-black font-Inter tracking-wider pl-20 gap-5  justify-center items-center hidden md:flex">
                    <div><p>Features </p></div>
                    <div><p>About</p></div>
                    <div><p>Contact</p></div>
                </div>
            {% endif %}
            <!-- User Authentication -->
            <div class="flex justify-center items-center space-x-4 relative">
                {% if user.is_authenticated %}
                    <!-- Display username and logout button -->
                    <div class="flex gap-5 items-center">
                        <form action="{% url 'logout' %}" method="post">
                            {% csrf_token %}
                            <button type="submit" class="text-sm bg-black hover:bg-gray-700 px-4 py-2 rounded-md font-Inter">Logout</button>
                        </form>
                    </div>
                {% else %}
                    <!-- Display login and register buttons -->
                    <div class="flex justify-center items-center gap-1 lg:gap-3 relative">
                        <a href="{% url 'login' %}" class="text-sm hidden md:flex text-black hover:border-black hover:border-2 transition-all duration-500 px-6 py-2  rounded-md font-Inter">Sign In
                        </a>
                        <span class="text-black md:flex hidden">|</span> 
                        <a href="{% url 'register' %}" class="text-sm  flex ml-3 px-4 lg:px-6 py-1 lg:py-2  bg-black border border-black text-white rounded-md font-Inter">Sign Up</a>
                        <div>
                            <img src="https://img.icons8.com/?size=256&id=120374&format=png" class="w-6 ml-4 md:hidden flex" id="menuToggle" />
                        </div>
                            <div class="hidden absolute  bg-white gap-10 py-4  flex-col text-center top-10 w-full " id="mobileMenu">
                            <div><a href="#" class="text-black text-lg">Features</a></div>
                            <div><a href="#" class="text-black text-lg">About</a></div>
                            <div><a href="#" class="text-black text-lg">Contact</a></div>
                        </div>
                    </div>
                    <!-- Container for the links to be toggled -->
                {% endif %}
            </div>
        </div>
    </nav>
    {% block body %} {% endblock %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <script>
        document.getElementById('menuToggle').addEventListener('click', function() {
        var mobileMenu = document.getElementById('mobileMenu');
        mobileMenu.style.display = mobileMenu.style.display === 'none' || mobileMenu.style.display === '' ? 'block' : 'none';
    });

    function menuShow() {
        var mobileMenu = document.getElementById('mobileMenu');
        mobileMenu.style.display = 'block';
        mobileMenu.style.backgroundColor = 'white';
        mobileMenu.style.position = 'absolute';
        // mobileMenu.style.top = '120%';
        // mobileMenu.style.left = '50%';

    }
    </script>
</body>
</html>
