{% extends "base.html" %}
{% load static %}

{% block body %}
<div style="background-color: white;">
  <div class="container mx-auto my-8 text-center">
    <!-- Container to center the GIF horizontally -->
    <div style="display: flex; justify-content: center; align-items: center; flex-direction: column;">
      <!-- Add the GIF above the text -->
      <img src="{% static 'gif-cat.gif' %}" alt="Cat GIF" class="mb-4">

      <h2 class="text-2xl font-semibold mb-4">Report Submitted Successfully!</h2>
      <p>Your report has been successfully submitted. You will be redirected to the homepage in <span id="countdown">5</span> seconds.</p>
    </div>
  </div>
</div>
  <script>
    // Countdown function
    function countdown() {
      var seconds = 5;
      var countdownElement = document.getElementById('countdown');

      function updateCountdown() {
        countdownElement.textContent = seconds;
      }

      function redirectHome() {
        window.location.href = '/streetvigil/';
      }

      // Initial update
      updateCountdown();

      // Countdown logic
      var countdownInterval = setInterval(function () {
        seconds--;

        if (seconds <= 0) {
          clearInterval(countdownInterval);
          redirectHome();
        } else {
          updateCountdown();
        }
      }, 1000);
    }

    // Start the countdown when the page loads
    window.onload = function () {
      countdown();
    };
  </script>
{% endblock %}
