{% extends "base.html" %}

{% block body %}
  <div class="container mx-auto my-8">
    <h2 class="text-3xl font-semibold mb-6">Crime Events</h2>

    <!-- Crime Cards -->
    {% for crime_event in crime_data_objects %}
    <a href="{% url 'crime_report' crime_event.id %}" class="text-blue-500 hover:underline ml-2">
      <div class="flex bg-white p-6 rounded-md shadow-md mb-6">
        <!-- Crime Image on the left with a defined height -->
        <img src="{{ crime_event.image.url }}" alt="Crime Image" class="rounded-md h-24 mr-4">

        <!-- Crime Content on the right -->
        <div>
          <p class="text-xl font-semibold mb-2">Category: {{ crime_event.category }}</p>
          <p class="text-gray-700">{{ crime_event.description }}</p>
          <div class="mt-4">
            <span class="text-sm text-gray-500">Reported by: {{ crime_event.reported_by.username }}</span>
          </div>
        </div>
      </div>
    </a>
    {% endfor %}
  </div>
{% endblock %}
